<!--
  templateType: page
  isAvailableForNewContent: true
  label: Myridius Page
-->
{% extends "./layouts/base.html" %}

{% block body %}
  <main class="myridius-page">
    {% dnd_area "main_content", label="Main Content" %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/breadcrumb.module", label="Breadcrumb" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/hero.module", label="Hero" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/industry-expertise.module", label="Industry Expertise" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/what-we-do.module", label="What We Do" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/how-we-work.module", label="How We Work" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/evoq.module", label="EVOQ" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/client-impact.module", label="Client Impact" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/resources.module", label="Resources" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/partners.module", label="Partners" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_module path="/Myridius Theme V1/modules/cta.module", label="CTA" %}{% end_dnd_module %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </main>
{% endblock body %}
